@white: #fff;
@form-bg: #f8f7f6;
@form-card-title: #bd1738;
@form-card-bg: #ece9e7;
@card-border-radius: 10px;
@card-title-underline-border: 4px solid #bcb2aa;
@form-label-color: #68655c;
@form-card-sec-title-bg: #f6ecd2;
@form-card-sec-title-color: #231f20;
@border-color: #bcb2aa;
@primary-color: #bd1738;
@import '~antd/dist/antd.less';

body {
  font-family: Arail;
}

img {
  padding: 0;
  margin: 0;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: @primary-color;
  font-size: 14px;
  font-family: Arail;
  line-height: 1;
  content: '*';
}

.form_header {
  height: 185px;
  position: relative;
  background: url(~@/assets/banner.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

  .form_title {
    font-size: 30px;
    color: @white;
    line-height: 185px;
    font-family: Arail;
    font-weight: bold;
  }

  .form_logo {
    position: absolute;
    bottom: 0;
    left: 9%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: @white;

    img {
      vertical-align: middle;
    }
  }
}

.form_content {
  .ant-input[disabled],
  .ant-picker.ant-picker-disabled {
    background-color: @form-card-bg;
    color: @form-card-sec-title-color;
  }
  .ant-radio-disabled .ant-radio-inner::after {
    background-color: @primary-color;
  }
  .ant-radio-disabled + span {
    color: @form-card-sec-title-color;
  }
  .ant-radio-checked.ant-radio-disabled .ant-radio-inner {
    border-color: @primary-color !important;
  }

  .ant-picker-input > input[disabled] {
    color: @form-card-sec-title-color;
  }
  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: @form-card-bg;
  }

  .ant-form-item {
    margin-bottom: 20px;
  }

  min-width: 1000px;
  width: 78%;
  overflow-x: auto;
  margin: 0 auto;

  .ant-card {
    margin-top: 20px;
    border-radius: @card-border-radius;
    background-color: @form-bg;

    .ant-card-head {
      color: @form-card-title;
      background-color: @form-card-bg;
      border-radius: @card-border-radius @card-border-radius 0 0;
      border-bottom: @card-title-underline-border;
      height: 50px;
      line-height: 50px;
    }

    .ant-card-head-title {
      font-weight: bold;
      font-size: 20px;
      padding: 0;
    }

    .ant-upload.ant-upload-select-picture-card {
      width: 200px;
      background-color: #f1f1f1;
      border: dashed 1px @border-color;
    }

    .fileWrapper {
      .ant-form-item-control-input-content {
        background-color: @white;
        padding: 20px;
        border: solid 1px #ebe8e5;
        border-radius: 5px;
        border-radius: 10px;
      }

      // .file_upload {
      //   width: 200px;
      //   height: 92px;
      //   text-align: center;
      //   // line-height:92px;
      //   background-color: #f1f1f1;
      //   border-radius: 10px;
      //   border: dashed 1px @border-color;
      //   color: #6d6c5c;

      //   .anticon {
      //     font-size: 26px;
      //     margin-top: 20px;
      //   }
      // }
    }

    .sec-container {
      border: 1px solid @border-color;
      border-radius: @card-border-radius;
      overflow: hidden;

      .sec-title {
        color: @form-card-sec-title-color;
        background-color: @form-card-sec-title-bg;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        text-indent: 20px;
      }

      .sec-content {
        padding: 20px;
      }

      .ant-tabs {
        .ant-tabs-ink-bar {
          background-color: transparent;
        }

        .ant-tabs-nav-list {
          padding: 0 20px;
        }

        .ant-tabs-nav {
          background-color: @form-card-sec-title-bg;
        }

        .ant-tabs-tab {
          padding: 0;
          height: 40px;
          line-height: 40px;
        }

        .ant-tabs-top > .ant-tabs-nav::before,
        .ant-tabs-bottom > .ant-tabs-nav::before,
        .ant-tabs-top > div > .ant-tabs-nav::before,
        .ant-tabs-bottom > div > .ant-tabs-nav::before {
          border-bottom: none;
        }

        .ant-tabs-tabpane {
          padding: 0 20px 20px;
        }
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: @form-card-title;
      }
    }

    .dot_required {
      color: @primary-color;
      margin: 0 5px;
    }
  }

  .anticon.anticon-bell {
    margin: 0px 5px;
    color: orange;
    cursor: pointer;
    font-size: 20px;
  }

  .actionWrapper {
    margin: 30px auto;
    text-align: center;
  }
}
